{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL SHORTNER</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">

</head>
<body style="background:#e5e7e9;">

 {% include 'nav.html' %}
 <div style="font-family: 'Crete Round', serif;" >
     {% if messages %}
        {% for message in messages %}
        <div style="text-align:center;width:500px;margin-left:400px;" class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
     {% endif %}
 <div>

     {% block content %}
<!--     content to be replaced-->
     {% endblock %}

 </div>
 </div>


</body>
</html>








































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































