{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL shortner</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

</head>
<body >
<!--<style>.nav-link {-->
<!--color: white !important;-->
<!--}</style>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-family: 'Crete Round', serif;">

  <a class="navbar-brand glow ml-5" href="#">Short.ly</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
<!--    <span class="navbar-toggler-icon"></span>-->
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ml-4">
        <a class="nav-link ml-5" href="{% url 'home-page' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ml-4">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item ml-4 ">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
<div>
    <span class="navbar-text mx-4" >
<!--        <form action="" class="form-inline" >-->
<!--            <input class="form-control mr-sm-2=" type="search" name="search_item"  placeholder="Search" aria-label="Search" >-->
<!--            <button class="btn btn-outline-success my-0 my-sm-0 mr-4 ml-2" type="submit">Search</button>-->
<!--        <form/>-->
        <ul class="navbar-nav mr-auto ">
            {% if user.is_authenticated %}
            <li class="nav-item active">
            <a class="nav-link mr-5" href="{% url 'profile' %}">Profile</a>
            <li class="nav-item active">
            <a class="nav-link mr-5" href="{% url 'logout' %}">Logout</a>
           {% else %}
            </li>
            <li class="nav-item active">
            <a class="nav-link mr-5" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-5" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </span>
</div>
  </div>
</nav>

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.js' %}">
</body>
</html>