{% extends 'base.html' %}
{% block content %}
<div class="new">
<div class="container-fluid new" >
    <h2 style="text-align:center;margin-top:30px;font-family: 'Crete Round', serif;">Hello! {{request.user}}</h2>

    <div class="border-top pb-2">
         <br><h5 style="text-align:center;font-family: 'Crete Round', serif;">Below are your shorten URLS
        <a class="btn btn-outline-primary py-1 pl-4 pr-4" style="margin-left:50px;font-family: 'Crete Round', serif;" href="{% url 'home-page' %}" role="button">Short More URL</a></h5>
    </div>

<!--  <div class="container">-->
    <table class="table table-hover">
    <thead>
        <tr style="text-align:center;">
          <th colspan="7" scope="col">Long URL</th>
          <th colspan="2" scope="col">Short URL</th>
          <th scope="col">Link Clicked</th>
          <br>
        </tr>
    </thead>

    <tbody>
    {% for data in url %}
    <tr>
        <td colspan="7"><a href="{{ data.long_url }}" target="_blank">{{ data.long_url }}</a></td>
        <td colspan="2" style="text-align:center;" ><a href=" http://short.ly:8000/{{ data.shortcode }}" target="_ blank" > http://short.ly/{{ data.shortcode }}</a></td>
        <td><p style="text-align:center;"> {{ data.visits }}</p></td>
    </tr>
    {% endfor %}

    </tbody>
    </div>
    </div>
<!--</div>-->


{% endblock %}



































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































